@charset "utf-8";

//sheetstyle
#header-top {
  background-color: $heder-color;
  line-height: 42px;
  height: 42px;
  @include header-a;
  a {
    font-size: $font-size-m;
    color: white;
    opacity: 0.6;
    font-family: "Adobe Fan Heiti Std B";
    &:hover{
      opacity: 1;
      color: white;
    }
  }
  .text-left {
    span {
      margin-right: $header-margin;
    }
  }
  .text-right {
    span {
      margin-left: $header-margin;
    }
  }
}

/*-------------------nav-------------------*/

//sheetstyle
#nav {
  margin-top: $margin-content-s;
  height: 47px;
  line-height: 47px;
  img {
    width: 90%;
  }
  li {
    margin-left: $header-margin+16px;
    @include header-a;
    a {
      color: $font-color;
      font-size: 1.2em;
      padding: 2px;
      &:hover {
        padding-bottom: 6px;
        border-bottom: 3px solid $touch-font;
        -webkit-transition:  padding-bottom .3s;
        -moz-transition:  padding-bottom .3s;
        -ms-transition:  padding-bottom .3s;
        -o-transition:  padding-bottom .3s;
        transition: padding-bottom .3s;
      }
    }
  }
}