@charset "UTF-8";
/*
  fix-bug
  Time:2017年10月24日
  Author:钱博康

  bug:BOM缩小导致的布局混乱
  fix:
    md->xs 跳过js对分辨率的转换
    container->1170px 确定container防止页面随Bom缩小而变动
*/
@import url(../common/common.css);
.container {
  width: 1170px;
  margin: 0 auto; }

body {
  background-image: linear-gradient(to top, #eff3f7 0%, white 100%);
  -webkit-user-select: none;
  /* Chrome all / Safari all /opera15+*/
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: default; }

div[class*="col-"] {
  padding: 0; }

ul.list-inline li {
  padding: 0; }

.filter {
  -webkit-filter: contrast(147%) brightness(104%) saturate(119%) invert(13%);
  filter: contrast(147%) brightness(104%) saturate(119%) invert(13%); }

.thumbnail {
  margin: 0;
  border-radius: 1px; }
  .thumbnail h3 {
    letter-spacing: 1px; }
  .thumbnail li a:hover {
    background-color: rgba(0, 0, 0, 0.02); }

.box-shadow:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.35s, box-shadow 0.35s, -webkit-box-shadow 0.35s, -moz-box-shadow 0.35s, -moz-transform 0.35s, -webkit-transform 0.35s;
  -moz-transition: transform 0.35s, box-shadow 0.35s, -webkit-box-shadow 0.35s, -moz-box-shadow 0.35s, -moz-transform 0.35s, -webkit-transform 0.35s;
  -ms-transition: transform 0.35s, box-shadow 0.35s, -webkit-box-shadow 0.35s, -moz-box-shadow 0.35s, -moz-transform 0.35s, -webkit-transform 0.35s;
  -o-transition: transform 0.35s, box-shadow 0.35s, -webkit-box-shadow 0.35s, -moz-box-shadow 0.35s, -moz-transform 0.35s, -webkit-transform 0.35s;
  transition: transform 0.35s, box-shadow 0.35s, -webkit-box-shadow 0.35s, -moz-box-shadow 0.35s, -moz-transform 0.35s, -webkit-transform 0.35s; }

.title {
  margin-top: 70px; }
  .title span {
    font-size: 24px;
    line-height: 0;
    letter-spacing: 1px; }

#header-top {
  background-color: #333333;
  line-height: 42px;
  height: 42px;
  font-size: 0.95em;
  word-spacing: 3px;
  letter-spacing: .4px; }
  #header-top a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none; }
    #header-top a:hover {
      color: rgba(215, 29, 30, 0.91);
      transition: color .2s; }
  #header-top a {
    font-size: 0.95em;
    color: white;
    opacity: 0.6;
    font-family: "Adobe Fan Heiti Std B"; }
    #header-top a:hover {
      opacity: 1;
      color: white; }
  #header-top .text-left span {
    margin-right: 9px; }
  #header-top .text-right span {
    margin-left: 9px; }

/*-------------------nav-------------------*/
#nav {
  margin-top: 30px;
  height: 47px;
  line-height: 47px; }
  #nav img {
    width: 90%; }
  #nav li {
    margin-left: 25px;
    font-size: 0.95em;
    word-spacing: 3px;
    letter-spacing: .4px; }
    #nav li a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none; }
      #nav li a:hover {
        color: rgba(215, 29, 30, 0.91);
        transition: color .2s; }
    #nav li a {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.14em;
      padding: 2px; }
      #nav li a:hover {
        padding-bottom: 6px;
        border-bottom: 2px solid rgba(215, 29, 30, 0.91);
        -webkit-transition: padding-bottom .3s;
        -moz-transition: padding-bottom .3s;
        -ms-transition: padding-bottom .3s;
        -o-transition: padding-bottom .3s;
        transition: padding-bottom .3s; }

/*-------------------footer-------------------*/
#footer {
  cursor: default;
  bottom: 0;
  height: 280px;
  background-color: #333333;
  padding-top: 30px;
  color: #858585; }
  #footer div img {
    padding-top: 30px;
    width: 55%; }
  #footer h5 {
    font-size: 0.95em;
    line-height: 2.6;
    letter-spacing: 2px;
    font-weight: 600; }
  #footer .indent {
    text-indent: 2em; }
  #footer h6 {
    color: #858585 !important;
    font-size: 14.4px;
    line-height: 2.4; }
  #footer a h6:hover {
    color: #FFFFFF !important; }
  #footer .glyphicon {
    top: 13px;
    left: -10px;
    position: absolute;
    font-size: 2em;
    color: #AF3333; }

/*-------------------content1-------------------*/
.content-all {
  margin-top: 23px;
  padding: 28px;
  background: white; }
  .content-all .box #LBbox {
    margin: 0;
    padding: 0;
    margin-top: 13px; }
  .content-all .box span {
    padding-bottom: 14px; }
  .content-all .box .title {
    margin: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03); }
    .content-all .box .title .more {
      float: right;
      font-size: 0.95em;
      padding-bottom: 20px;
      line-height: 2;
      padding-right: 20px; }
    .content-all .box .title .header-title {
      font-size: 24px;
      line-height: 1;
      white-space: nowrap;
      padding-left: 5px;
      border-bottom: 2px solid #AF3333;
      width: 160px;
      margin: 0;
      letter-spacing: 1px; }
      .content-all .box .title .header-title span {
        padding-left: 6px;
        letter-spacing: 0;
        font-size: .55em;
        font-weight: 100;
        color: #AF3333; }

.content-con span {
  padding-bottom: 14px; }
.content-con .title {
  padding-left: 20px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
  .content-con .title .more {
    float: right;
    font-size: 0.95em;
    padding-bottom: 20px;
    line-height: 2;
    padding-right: 20px;
    color: #AF3333;
    opacity: 0.7; }
  .content-con .title .header-title {
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    padding-left: 5px;
    border-bottom: 2px solid #AF3333;
    width: 160px;
    margin: 0;
    letter-spacing: 1px; }
    .content-con .title .header-title span {
      padding-left: 6px;
      letter-spacing: 0;
      font-size: 0.95em;
      font-weight: 100;
      color: #AF3333; }
.content-con ul {
  padding-top: 20px;
  padding-left: 25px;
  list-style: none; }
  .content-con ul li {
    margin-bottom: 15px;
    font-size: 0.95em;
    word-spacing: 3px;
    letter-spacing: .4px; }
    .content-con ul li a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none; }
      .content-con ul li a:hover {
        color: rgba(215, 29, 30, 0.91);
        transition: color .2s; }

/*-------------------content2-------------------*/
/*-------------------content3-------------------*/
#content3 {
  margin-top: 23px -2px;
  background: white;
  padding-bottom: 64px; }
  #content3 .friend-web {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    margin-top: 23px; }
    #content3 .friend-web li {
      width: 181.7px; }
      #content3 .friend-web li img {
        width: 100%;
        height: 110px; }

.filter2 {
  position: relative;
  -webkit-filter: brightness(123%) sepia(13%) grayscale(5%) invert(15%);
  filter: brightness(123%) sepia(13%) grayscale(5%) invert(15%); }

/*# sourceMappingURL=index-Second.css.map */
